[Desktop Entry]
Name=Apart
GenericName=Partition Clone, Backup And Restore
X-GNOME-FullName=Apart Partition Clone, Backup And Restore
Comment=Backup/Clone partition and restore from saved images
Exec=/usr/bin/apart_polkit %f
Icon=apart
Terminal=false
Type=Application
Categories=Filesystem;
Keywords=Partition;Clone;Backup;Restore;
StartupNotify=true
