.new-clone-options {
  margin: 6px;
}
.new-clone-options .dim-label {
  margin: 6px 6px 6px 0;
}
.new-clone-options filechooserbutton {
  min-width: 300px;
}
.new-clone-buttons button:last-child {
  margin-left: 6px;
}

.info-key, .info-val {
  padding-top: 5px;
}
.info-key {
  margin-right: 1ex;
}
.info-val {
  margin-right: 2ex;
}

.part-info {
  padding: 6px;
}
.part-info button {
  margin-left: 6px
}

.progress-view {
  background: @base_color;
}
.section-title {
  padding: 6px 6px 0;
  font-size: 100%;
  font-weight: bold;
}
.finished-jobs, .jobs {
  padding: 6px;
}
.finished-jobs separator {
  margin: 6px 0;
}
.job-stats {
  margin-top: -3px;
}
.finished-job-stats {
  margin-top: -3px;
  margin-left: 6px;
}
.finished-job-title > image {
  padding-right: 6px;
  margin-bottom: 2px;
}
.job-buttons button {
  margin-right: 6px;
}
.job-buttons button:last-child {
  margin-right: 0;
}
